extends ../layout

block content
  div(class='container-fluid')
    div(class='row-fluid')
      div(id='left', class='span4')
        div(id='DocumentTitles', class='well well-small')
          ul(id='document-list', class = 'nav nav-pills nav-stacked')
            - each d in documents
              li
                a(id=d.id, href='/documents/' + d.id)
                  =d.title

      div(class='span8')
        div(id='editor-container')
          textarea(name=currentDoc.title, id='editor', class='fill main-pane ')
            =currentDoc.data || ''
          