extends ../layout

block content
  h2 Log In
    p
      a(href='/users/new', class='button') Register 
  form(method='post', action='/sessions')
    include ../users/fields
    div
      input(type='submit', value='Log In')